<serverSettings>
  <socketAddresses>
    <socket address="0.0.0.0" port="9933" type="TCP"/>
	<socket address="0.0.0.0" port="9934" type="TCP"/>

  </socketAddresses>
  <ipFilter>
    <addressBlackList>
      <string>1.2.3.4</string>
    </addressBlackList>
    <addressWhiteList>
      <string>0.0.0.0</string>
    </addressWhiteList>
    <maxConnectionsPerAddress>9999999</maxConnectionsPerAddress>
  </ipFilter>
  <flashCrossdomainPolicy>
    <useMasterSocketPolicy>true</useMasterSocketPolicy>
    <policyXmlFile>crossdomain.xml</policyXmlFile>
  </flashCrossdomainPolicy>
  <systemControllerThreadPoolSize>10</systemControllerThreadPoolSize>
  <extensionControllerThreadPoolSize>50</extensionControllerThreadPoolSize>
  <systemControllerRequestQueueSize>20000</systemControllerRequestQueueSize>
  <extensionControllerRequestQueueSize>20000</extensionControllerRequestQueueSize>
  <schedulerThreadPoolSize>3</schedulerThreadPoolSize>
  <protocolCompressionThreshold>1024</protocolCompressionThreshold>
  <protocolMode>BINARY</protocolMode>
  <useBinaryProtocol>true</useBinaryProtocol>
  <remoteAdmin>
    <administrators>
      <adminUser>
        <login>root</login>
        <password>disabled123</password>
      </adminUser>
    </administrators>
    <allowedRemoteAddresses/>
    <adminTcpPort>8088</adminTcpPort>
  </remoteAdmin>
  <bannedUserManager>
    <isAutoRemove>true</isAutoRemove>
    <isPersistent>true</isPersistent>
    <customPersistenceClass></customPersistenceClass>
  </bannedUserManager>
  <mailer>
  </mailer>
  <webServer>
    <isActive>true</isActive>
    <cfgFile>config/jetty/jetty.xml</cfgFile>
    <blueBoxPollingTimeout>26</blueBoxPollingTimeout>
    <blueBoxMsgQueueSize>40</blueBoxMsgQueueSize>
  </webServer>
  <webSocket>
    <isActive>false</isActive>
    <bindAddress>0.0.0.0</bindAddress>
    <tcpPort>8899</tcpPort>
    <validDomains/>
  </webSocket>
  <startExtensionFileMonitor>false</startExtensionFileMonitor>
  <useDebugMode>false</useDebugMode>
  <extensionRemoteDebug>false</extensionRemoteDebug>
  <useFriendlyExceptions>true</useFriendlyExceptions>
  <sessionMaxIdleTime>30</sessionMaxIdleTime>
  <userMaxIdleTime>7200</userMaxIdleTime>
  <licenseCode></licenseCode>
  <licenseEmails></licenseEmails>
  <ghostHunterEnabled>true</ghostHunterEnabled>
  <statsExtraLoggingEnabled>true</statsExtraLoggingEnabled>
  <enableSmasherController>false</enableSmasherController>
  <analytics>
    <isActive>false</isActive>
    <runOnDay>[everyday]</runOnDay>
    <runAtHour>2</runAtHour>
    <runOnStartup>false</runOnStartup>
    <rebuildDB>false</rebuildDB>
    <skipGeolocation>false</skipGeolocation>
    <sourceFolder></sourceFolder>
    <locale></locale>
  </analytics>
</serverSettings>
